<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body style="margin: 0">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <div class="justify-content-between">
          <h4>Welcome to Dish CRUD</h4>
          <form class="form-inline float-right" action="/ingredients" >
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="ingredients"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>

        <ul>
          <% dishes.forEach(function(dish){ %>
          <div class="card flex-row flex-wrap" style="margin-bottom: 10px">
            <div class="card-header border-0">
              <img
                src="<%=dish.dishImage %>"
                alt="<%=dish.name%>"
                style="
                  min-height: 100px;
                  max-width: 100px;
                  min-width: 100px;
                  max-height: 100px;
                "
              />
            </div>
            <div class="card-block px-2">
              <h4 class="card-title"><%= dish.name %></h4>
              <p class="card-text">Ingredients: <%= dish.ingredients %></p>
            </div>
          </div>
          <%}); %>
        </ul>
      </div>
    </main>
  </body>
</html>
